<div class = "image">
<div class="text">
    <h1 style="font-weight: bold; font-size: 70px">Meine Services</h1>
</div>
</div>
<button id = "button" mat-button routerLink= "/Profile/addService" routerLinkActive="active">Service hinzufügen</button>

<mat-card [ngClass]="'searchResult'" class = "searchresults" *ngFor = "let service of Services">
    <mat-card-title id = "title">{{service.serviceTitle}}</mat-card-title>
    <mat-card-subtitle id = "subtitle">{{service.serviceType}} in {{service.city}}</mat-card-subtitle>
    <mat-card-content>
        <p> {{service.description}}</p>
        <br>
        <h4>{{service.price}}</h4>
    </mat-card-content>

    <mat-card-actions>
        <button  id = "cardButton" mat-button (click) = "deleteService(service)">Löschen</button>
    </mat-card-actions>

</mat-card>


