<div class="profile-box">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Mein Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-input required>
          <ion-label>Benutzername</ion-label> 
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input><ion-label>Vorname</ion-label></ion-input>
      </ion-item>

      <ion-item>
        <ion-input> <ion-label>Nachname</ion-label> </ion-input>
      </ion-item>

      <ion-item>
        <ion-input> <ion-label>Addresse</ion-label></ion-input>
      </ion-item>

      <ion-item>
        <ion-input > <ion-label>Telefonnummer</ion-label></ion-input>
      </ion-item>

      <ion-item>
        <ion-input > <ion-label>E-Mail</ion-label></ion-input>
      </ion-item>
    </ion-list>

    <ion-button (click)="disable()">Ändern</ion-button>
    <ion-button>Speichern</ion-button>
  </ion-content>
</div>
