.profile-box{
    width: 50%;
    height: 500px;
    //border: solid 1px rgb(141, 137, 137);
    //centers
    margin: auto;
    margin-top: 10%;
    color: gray;

}

// ion-input{
//     border: solid 1px black;
//     border-block-style: round($number: 1)
//  }
