<div class="profile-box" [formGroup]="profileForm">
  <mat-card>
    <mat-card-title>Mein Profile</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-form-field>
            <input
              matInput
              placeholder="Vorname"
              formControlName="firstname"
              [disabled]="!editable"
            />
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field>
            <input
              matInput
              placeholder="Nachname"
              formControlName="lastname"
            />
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field>
            <input
              matInput
              placeholder="Addresse"
              formControlName="adress"
            />
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field>
            <input
              matInput
              placeholder="Telefonnummer"
              formControlName="number"
            />
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field>
            <input
              matInput
              placeholder="Email"
              formControlName="email"
              disabled =  "true"
            />
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field *ngIf="isProvider()">
            <input
              matInput
              placeholder="Geschäft"
              formControlName="company"
            />
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </mat-card-content>

    <button mat-raised-button color="primary" (click)="enableForm()">
      Ändern
    </button>
    &nbsp;
    <button mat-raised-button color="primary" (click)="onSubmit()" (click)="disableForm()">
      Speichern
    </button>
    <br />
    <br />

    <button
      routerLink="ChangePassword"
      mat-button
      color="primary"
      type="submit"
    >
      Change Password
    </button>

    <button mat-button color="warn">Profil löschen.</button>
  </mat-card>
</div>