mat-card{
  padding-top: 1.5%;
  padding-bottom: 1%;
  background-color: whitesmoke
}
mat-card-title:hover {
  background-color: darkgoldenrod;
  color: white;
  border-radius: 5px;
}
mat-card-title {
  color: darkgoldenrod;
  background-color: whitesmoke;
  border-radius: 5px;
  font-family: "Avenir Next";

}


.distanceToTitle{
  width: 65%;
}
#search {
  margin-right: 2%;
}
.divider{
  width: 20px;
}

.routerBox{
  padding-top: 5%;
}

mat-toolbar{
  background: none;
}

h3:hover{
  background-color: darkgray;
}

