<ion-app>
  <ion-content>
    <ion-text>
      <h5 (click)="goHome()">Home</h5>
    </ion-text>
    <br>
    <ion-button class ="logInButton" *ngIf="!showLogIn"
            (click)="goToLogin()"
    >Login</ion-button>
    <br>

    <ion-button *ngIf="!showLogIn">Registration</ion-button>
    <app-login *ngIf="showLogIn"></app-login>


   <ion-button class ="profileButton" *ngIf="!showProfile"
            (click)="goToProfile()">Profile</ion-button>

  <app-profile *ngIf="showProfile"></app-profile>
  </ion-content>
</ion-app>

