mat-card{
  padding-top: 3%;
  padding-bottom: 50%;
}
mat-card-title{
  width: 200px;
}
.distanceToTitle{
  width: 65%;
}
.divider{
  width: 20px;
}

.routerBox{
  padding-top: 5%;
}

mat-toolbar{
  background: none;
}

