<mat-card>
  <!-- header with title and buttons changing whether logged in or not, always visible-->
  <mat-card-header>
    <mat-card-title routerLink="" routerLinkActive="active">
      Home
    </mat-card-title>
    <div class="distanceToTitle"></div>

    <button id="search" mat-button>Suchen</button>
    <!-- Login Button, only visible when logged out-->
    <button
      *ngIf="!loggedIn"
      mat-button
      class="logInButton"
      routerLink="/LogIn"
      routerLinkActive="active"
    >
      Anmelden
    </button>
    <!-- Logout Button, only visible when logged in-->
    <button
      *ngIf="loggedIn"
      mat-button
      (click)="logOut()"
      class="logOutButton"
      routerLink=""
      routerLinkActive="active"
    >
      Abmelden
    </button>
    <!--Registration Button, only visible when logged out-->
    <div class="divider"></div>
    <button *ngIf="!loggedIn" mat-button
      class ="registrationButtonButton" routerLink="/Registration"
      routerLinkActive="active"> Registrieren
    </button>
    <!--Profile Button, only visible when logged in-->

    <button mat-button [matMenuTriggerFor]="menu" *ngIf="loggedIn">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu>
      <mat-list-item> Hallo, {{ firstname }}</mat-list-item>
      <button *ngIf="loggedIn" mat-menu-item
        class = "profileButton" routerLink="/Profile" routerLinkActive="active">
        Profil
      </button>
      <button
        mat-menu-item
        *ngIf="isProvider || isCustomer"
        routerLink="/Profile/myservices"
        routerLinkActive="active"
      >
       Meine Services
      </button>
      <button
        mat-menu-item
        *ngIf="isProvider"
        routerLink="/Profile/addService"
        routerLinkActive="active"
      >
        Service hinzufügen
      </button>
      <!--Admin Button, only visible when logged in as Admin-->
      <button
        mat-menu-item
        *ngIf="isAdmin"
        routerLink="/Admin"
        routerLinkActive="active"
      >
        Admin
      </button>
    </mat-menu>
  </mat-card-header>
</mat-card>

<div class="routerBox">
  <router-outlet></router-outlet>
</div>
