
  <mat-card>
    <!-- header with title and buttons changing whether logged in or not, always visible-->
  <mat-card-header>
    <mat-card-title routerLink=""
                    routerLinkActive="active">
      Name of your App
    </mat-card-title>
      <div class = "distanceToTitle"></div>
      <button id = "search" mat-button>Search</button>

      <!-- Login Button, only visible when logged out-->
        <button *ngIf="!LoggedIn"
                mat-button
                class ="logInButton"
                routerLink="/LogIn"
                routerLinkActive="active">
          Log In
        </button>
      <!-- Logout Button, only visible when logged in-->
        <!-- what if on diffrent page? -->
       <button *ngIf="LoggedIn"
                mat-button (click) = "logOut()"
                class ="logOutButton"
                routerLink=""
                routerLinkActive="active">
          Log out
        </button>
    <!--Registration Button, only visible when logged out-->
    <div class = "divider"></div>
        <button *ngIf="!LoggedIn"
                mat-button
                class ="registrationButtonButton"
                routerLink="/Registration"
                routerLinkActive="active">
          Register
        </button>
    <!--Profile Button, only visible when logged in-->
        <button *ngIf="LoggedIn"
                mat-button
                class ="profileButton"
                routerLink="/Profile"
                routerLinkActive="active">
          Profile
        </button>
  </mat-card-header>
  </mat-card>

    <div class="routerBox">
  <router-outlet></router-outlet>
    </div>



