/*.addService {
  background : white;
  background: linear-gradient(to right bottom, #e5e5e5 50%, white 50%);
}
.background {
  background: linear-gradient(to right bottom, #e5e5e5 50%, white 50%);
}*/
.addService{
  width: 50%;
  height: auto;
  margin: auto;
 // margin-top: 5%;
  color: gray;
}

.AboutBtn {
  width: 150% ;
  height: 50%;
}
.f4 {
  height: 85px;
  overflow: auto;
}

.background {
  margin-bottom: -40%;
  margin-top: -5%;
  padding-top: 5%;
  padding-bottom: 10%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../../assets/home/mountain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
