<h1 style = "text-align: center; margin-top: -3%; font-family: 'Avenir Next'; font-weight: bolder">Über uns</h1>
<p style = "margin-left: 5%; margin-right: 5%; margin-bottom: 3%; font-family: 'Avenir Next'">Im Rahmen unseres ESE Projekts für die Universität Bern, haben wir diese kleine Website gestaltet.
Wir sind ein Team von fünf Personen, bei irgendwelchen Fragen oder Anregungen, könen Sie uns unter der Mail-Adresse: <u>annina.helmy@students.unibe.ch</u>
erreichen. </p>

<br>

<div class = "row">

  <div class = "column1">
    <img class = "image" src = "../../../assets/home/blue.jpg" style ="width:100%">
    <button class = "btn"> Kerrie </button>
    <div class = "aboutme">
      <p style = "color: black; font-family: 'Avenir Next';">
        Ich liebe...</p>
    </div>
  </div>

  <div class ="column1">
    <img class = "image" src = "../../../assets/home/red.jpg" style ="width:100%">
    <button class = "btn" > Said </button>
    <div class = "aboutme">
      <p style = "color: black; font-family: 'Avenir Next';">
        Ich liebe...</p>
    </div>
  </div>

  <div class = "column1">
    <img class = "image" src = "../../../assets/home/white.jpg" style ="width:100%">
    <button class = "btn" > Julian </button>
    <div class = "aboutme">
      <p style = "color: black; font-family: 'Avenir Next';">
        Ich liebe...</p>
    </div>
  </div>

  <div class = "column1">
  <img class = "image" src = "../../../assets/home/yellow.jpg" style ="width:100%">
  <button class = "btn"> Rafael </button>
    <div class = "aboutme">
      <p style = "color: black; font-family: 'Avenir Next';">
        Ich liebe...</p>
    </div>
  </div>


    <div class = "center">
    <img class = "image" src = "../../../assets/home/green.jpg" style ="width:100%" >
    <button class = "btn" > Annina </button>
    <div class = "aboutme">
      <p style = "color: black; font-family: 'Avenir Next';">
        Ich liebe Kaffee!</p>
    </div>
    </div>


</div>
