<div class="changePassword-box" [formGroup]="changePasswordForm">
  <mat-card>
    <mat-card-title>Passwort ändern</mat-card-title>
    <mat-card-content>
      <mat-list *ngIf="!passwordChanged">
        <mat-list-item>
          <mat-form-field>
            <input
              matInput
              placeholder="Altes Passwort"
              type="password"
              formControlName="password"
            />
            <!-- <mat-error *ngIf="checkspassword()">Wrong Password</mat-error> -->
          </mat-form-field>
        </mat-list-item>
        <br />
        <br />
        <mat-list-item>
          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Neues Passwort"
              formControlName="newPassword"
            />
            <mat-hint
              >Mindestens 8 Buchstaben, Gross- und Kleinschreibung, Zahlen und Sonderzeichen
            </mat-hint>
            <mat-error *ngIf="!validPassword()">
              {{ getErrorMessage() }}</mat-error
            >
          </mat-form-field>
        </mat-list-item>
        <br />
        <br />
        <br />

        <mat-list-item>
          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Passwort wiederholen"
              formControlName="checkpassword"
            />
            <mat-error *ngIf="!validPassword()">
             Passwörter stimmen nicht überein.
              </mat-error
            >
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <!-- if the btton is clicked, then change the password,  -->
    <button
      *ngIf="!passwordChanged"
      [disabled]="!validPassword() || changePasswordForm.invalid"
      mat-raised-button
      color="primary"
      (click)="checkspassword()"

    >
      Passwort ändern.
    </button>
    <div *ngIf="passwordChanged">
      <p>Passwort wurde erfolgreich verändert.</p>
      <button mat-button routerLink=".." routerLinkActive="active">
        Zum Profil.
      </button>
      <button mat-button routerLink="" routerLinkActive="active">
        Zur Startseite
      </button>
    </div>
  </mat-card>
</div>
