<h1 style ="font-family: 'Avenir Next'; font-weight: bolder; font-size: 50px; color: darkblue; text-align: center;  margin-top: -3%; margin-bottom: 2%;">
  Meine Buchungen</h1>
<mat-card class = "booking" *ngFor="let booking of Bookings">
  <mat-card-title style =  "color: darkblue; font-weight: bolder">{{booking.serviceInfo.serviceTitle}}</mat-card-title>
  <mat-card-subtitle>{{booking.date}}</mat-card-subtitle>
  <mat-card-content>
    <p>{{booking.date}}</p>
    <p>{{booking.serviceInfo.serviceType}} in <b>{{booking.serviceInfo.city}}</b> </p>
    <p *ngIf="isCustomer(this.user)">{{booking.serviceInfo.provider}}</p>
    <p>{{booking.serviceInfo.description}}</p>
    <p>{{booking.serviceInfo.price}}</p>
    <p><u>{{booking.bookingStatus}}</u></p>
    <p *ngIf="ratingPossibleIfCustomer(booking)">
      <ngb-rating
              [(rate)]="booking.rating" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="isReadOnly(booking)"
              max="5"  (click)="this.rateBooking(booking)">
      </ngb-rating>
      <p *ngIf="booking.rating == ''">
        Noch nicht bewertet
      </p>
    <p *ngIf="isProvider(this.user)&& showRatingForProvider(booking)">
      <ngb-rating
              [(rate)]="booking.rating"  [readonly]=true
              max="5">
      </ngb-rating>
    </p>
    <td *ngIf="isProvider(this.user)&& !showRatingForProvider(booking)">
      Buchung noch nicht bewertet
    </td>
  </mat-card-content>

    <!--<br>
    <table mdbTable>
      <thead>
      <tr>
        <th>Datum</th>
        <th>Service Name</th>
        <th>Service Typ</th>
        <th *ngIf="isCustomer(this.user)">Anbieter</th>
        <th>Beschrieb</th>
        <th>Buchungsstauts</th>
        <th>Preis</th>
        <th>Stadt</th>
        <th>Bewertung</th>
      </tr>
      </thead>
       lists all unverified users that are being fetched from backend
      <tbody>
      <tr mdbTableCol *ngFor="let booking of Bookings">
        <td>{{booking.date}}</td>
        <td>{{booking.serviceInfo.serviceTitle}}</td>
        <td>{{booking.serviceInfo.serviceType}}</td>
        <td *ngIf="isCustomer(this.user)">{{booking.serviceInfo.provider}}</td>
        <td>{{booking.serviceInfo.description}}</td>
        <td>{{booking.bookingStatus}}</td>
        <td>{{booking.serviceInfo.price}}</td>
        <td>{{booking.serviceInfo.city}}</td>
        <td *ngIf="ratingPossibleIfCustomer(booking)">
          <ngb-rating
                  [(rate)]="booking.rating" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="isReadOnly(booking)"
                  max="5"  (click)="this.rateBooking(booking)">
          </ngb-rating>
          <p *ngIf="booking.rating == ''">
            Noch nicht bewertet
          </p>
        </td>
        <td *ngIf="isProvider(this.user)&& showRatingForProvider(booking)">
          <ngb-rating
                [(rate)]="booking.rating"  [readonly]=true
                max="5">
        </ngb-rating>
        </td>
        <td *ngIf="isProvider(this.user)&& !showRatingForProvider(booking)">
          Buchung noch nicht bewertet
        </td>

      </tr>
      </tbody>
    </table>-->

</mat-card>
