
  <div class = "title">
<h1 style = "text-align: center; text-transform: capitalize; font-weight: bolder;">Allgemeine Geschäftsbedingungen (AGB) für EVENT4U</h1>
</div>
  <div class = "text">
<p>Diese Seite enthält die Allgemeinen Geschäftsbedingungen ("AGB"), die mit unseren Angeboten in Verbindung stehen, die auf unserer Website aufgeführt sind.</p>

<p>Bitte lesen Sie diese Allgemeinen Geschäftsbedingungen sorgfältig durch, bevor Sie unsere Seite in Anspruch nehmen. Sie sollten eine Kopie dieser Allgemeinen Geschäftsbedingungen für die Zukunft ausdrucken.</p>

​
​<div class = "absatz">
<h3>1. Vertragsgestaltung </h3>

<p>1.1 Verträge über unsere Seite werden nur in einer Sprache abgeschlossen, welche sowohl Customer wie Service Provider verstehen. Die Seite EVENT4U tritt als Zwischenhändler auf
und verknüpft Service Provider und Customer. Die Vertragsgestaltung ist Service Provider und Customer überlassen.
<br>
  <br>
1.2 Durch Anklicken des Buttons "Buchen" gehen Sie noch  nicht einen verbindlichen Vertrag ein, sondern machen eine Anfrage. Sie können nach Angebot die Anfrage als Customer jederzeit zurückziehen.
<br>
  <br>
  1.3 Wenn Sie als Service Provider einen Preis bei Registrierung des Services angeben, ist dieser verbindlich. Ansosnten lassen Sie das Feld leer und wir schreiben "Auf Anfrage" in ihr Service-Profil.
  ​</p>
​</div>

  <div class = "absatz">
<h3> 2. Zahlungsmittel </h3>

<p>2.1 Wir bieten keine Zahlungsmöglichkeit über unsere Seite an. Die Zahlungsart müssen die Vertragspersonen selber unter sich aushandeln.</p>
​
​</div>
  <div class = "absatz">
​ <h3>3. Kundenbetreuung </h3>

<p>3.1 Wenn Sie irgendwelche Fragen haben, zögern Sie nicht, uns zu kontaktieren. (www.bravefairfashion.com)</p>
​</div>
</div>
