<div class = login-box>
  <ion-header>
      <ion-toolbar>
        <ion-title>
          Login
        </ion-title>
      </ion-toolbar>
    </ion-header>

  <ion-content ng-app="">
    <ion-title></ion-title>
    <ion-list>
      <ion-item>
        <ion-input placeholder = "Benutzername" ng-model="name"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder = "Passwort" type="password" ng-model="password"> </ion-input>
      </ion-item>
    </ion-list>

    <ion-button fill="clear" *ngIf="!showPasswordForgotten" (click)="goToPasswordForgotten()">Passwort vergessen ? </ion-button>
    <app-passwordforgotten *ngIf="showPasswordForgotten"></app-passwordforgotten>
    
    <ion-button (click)="msg()" >Log In</ion-button>
   

  </ion-content>
</div>