<div class = login-box>

    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>

            <!-- need paragraph otherwise on same line -->
          <p>
                <mat-form-field>
                  <input type="text" color="primary" matInput placeholder="Username" [(ngModel)]="username">

                </mat-form-field>
              </p>
              <p>
              <mat-form-field>
                  <input type="password" matInput placeholder="Password" [(ngModel)] ="password" >
                </mat-form-field>
              </p>
        </mat-card-content>
        <p>

        <button mat-raised-button color="primary" (click)="msg()" >Log In</button>

        <button mat-button  routerLink="PasswordForgotten"
                routerLinkActive="active" >Forgot password ? </button>
        </p>
        <br>
        <p>You do not have an account yet?
            <button routerLink="/Registration" mat-button color="primary" type="submit">
                Register here</button>
        </p>

    
      </mat-card>

</div>
