<div class = passwordforgotten>

  <div [formGroup]="passwordforgottenForm" (ngSubmit)="onSubmit()">

  <mat-card>

  <mat-card-title> Probleme beim Anmelden?  </mat-card-title>
  <br>
  <br>
  <p> Gib uns deine E-Mail Adresse an und wir schicken dir einen Link.</p>
  <p>
    <mat-card-content>
      <mat-form-field>


              <input type="email" color="primary" matInput placeholder="Mail-Adresse" formControlName="email" required >
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>



      </mat-form-field>
    </mat-card-content>
  </p>

  <button mat-raised-button color="primary" type="submit" (click) = "onSubmit()" > Senden </button>

</mat-card>
  </div>
</div>

