<div class="passwordforgotten">
  <div [formGroup]="passwordforgottenForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <div *ngIf="!sendpasswordforgotten" >

      <mat-card-title> Passwort vergessen? </mat-card-title>
      <br />
      <br />
      <p>Gib uns deine E-Mail Adresse an und wir schicken dir einen Link.</p>

            <p>
        <mat-card-content >
          <mat-form-field>
            <!--[(ngModel)]= "registerUserData.email" -->
            <input
              type="email"
              color="primary"
              matInput
              placeholder="Mail-Adresse"
              formControlName="email"
              required
            />
            <mat-error *ngIf="!validEmail()">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </mat-card-content>
      </p>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onSubmit()"
        [disabled]="!validEmail()"
      >
        Senden
      </button>
    </div>

  <div *ngIf="sendpasswordforgotten">
      <mat-card-content >
        <mat-card-title>Danke für Ihre Anfrage.</mat-card-title>
        <br>
        <!-- TODO expressio User E-mail -->
        In 5-10 Minuten wird Ihnen ein neues Password auf {{getEmail()}} gesendet.
      </mat-card-content>
    </div>  
      </mat-card>
  
  </div>
</div>
