
<mat-card>
  <mat-card-title>List of Open Registration Requests</mat-card-title>
  <mat-card-content>
    <br>
    <table mat-table>
      <tr>
        <th>email</th>
        <th>User group</th>
        <th>phone</th>
      </tr>
      <!-- lists all users that are being fetched from backend-->
      <tr *ngFor="let user of Users">
        <td>{{user.email}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td><button mat-button style="color: #0ec254" (click)="validateUser(user)">Accept</button></td>
        <td><button mat-button style="color: #d33939" (click)="deleteUser(user)" >Deny</button></td>
      </tr>
    </table>
  </mat-card-content>

</mat-card>
