.top {
  height: 2 vh;
  padding-top: 1%;
  padding-bottom: -0.5%;
}

#header{
  width: 100%;
  height: 10vh; //1 percent screens size is 1 vh
}
.logInButton {
  float: right;
  margin-left: 2.5% ;
}
.registrationButtonButton {
  float: right;
}

.search {
  display:flex;
  flex-direction:column;
}

.main{
  padding-bottom: 1%;
}


.InputBtn {
  width: 120% ;
}
.searchfield{
  width: 20%;
  margin: auto;

}
