<div class = "body">
<div class="navigation">
  <!-- When logged in -- @TODO authentication.loggedIn and authentication.isUser method in authentication service  -->
  <!--search form -->
   <div class = "main">
       <mat-card class = "searchfield">
           <mat-card-content>
               <mat-list>

 <!-- @TODO add routerLink -->
    <!--Location Button-->
  <mat-list-item>
   <form class = "btn" style="float: left;margin-left: 2%">
    <mat-form-field >
      <mat-label> Alle Orte</mat-label>
        <mat-select id = "location" [(ngModel)] = "city" name="location" >
          <mat-option> Nichts </mat-option>
          <mat-option *ngFor = "let locations of locations " [value]  = "locations"> {{locations}} </mat-option>
        </mat-select>
    </mat-form-field>
    </form>
  </mat-list-item>
    <!-- Events Button-->
  <mat-list-item>
   <form class ="btn" style="float: left; margin-left: 2%; margin-bottom: 1%; ">
    <mat-form-field>
      <mat-label> Alle Angebote </mat-label>
      <mat-select id = "services" [(ngModel)]="categorie" name="services" >
        <mat-option> Nichts </mat-option>
        <mat-option *ngFor = "let services of services" [value] = "services"> {{services}}</mat-option>
      </mat-select>
    </mat-form-field>
     </form>
  </mat-list-item>
                  <!-- Date Picker -->
  <!--<mat-list-item>
    <form class = "btn" style = "float: left; margin-left: 2%; margin-right: 5%;">
     <mat-form-field>
       <input [(ngModel)]="d" name = "dates" matInput [matDatepicker]="picker" placeholder="Choose a Date" >
       <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
       <mat-datepicker #picker ></mat-datepicker>

     </mat-form-field>
     </form>
  </mat-list-item>-->
                   <!-- Search Button -->
 <mat-list-item>
   <form class = "btn" style="float: left; margin-left: 2%; margin-right: 5%;">
     <mat-form-field class = "InputBtn">
      <input [(ngModel)] = "anything" name = "anything" matInput placeholder="Irgendetwas suchen." >
     </mat-form-field>
    </form>
 </mat-list-item>
                   <br>
  <mat-list-item>
    <button
            class = "btn"

            mat-stroked-button
            style="float:right; margin-right: 10%; margin-top: -0.5%"
            (click) = onSubmit()>
        Suchen</button>
  </mat-list-item>


               </mat-list>
           </mat-card-content>
       </mat-card>

  </div> <!--/main -->

<!--
    <div>
        <table>
            <tr>
                <th>Service</th>
                <th>Location</th>
                <th>Price</th>
            </tr>



            <tr *ngFor="let service of Services">
                <td>{{service.serviceTitle}}</td>
                <td>{{service.city}}</td>
                <td>{{service.price}}</td>
            </tr>
        </table>
    </div>
-->
<!--
<div class = "categories">
    <div class = "row1">
    <div class="left">
        <div class="content">
            <h4>Food&Drink</h4>
            <p>Lorem ipsum dolor..</p>
        </div>
    </div>
    <div class="right">
        <div class="content">
            <h4>Musik</h4>
            <p>Lorem ipsum dolor..</p>
        </div>
    </div>
    </div>

    <div class = "row2">
    <div class="left">
        <div class="content">
            <h4>Licht&Bühne</h4>
            <p>Lorem ipsum dolor..</p>
        </div>
    </div>
    <div class="right">
        <div class="content">
            <h4>Werbung</h4>
            <p>Lorem ipsum dolor..</p>
        </div>
    </div>
    </div>
</div>
-->



</div>
</div>

<app-body></app-body>



<!-- Haupt -->
