.top {
  padding-top: 1%;
  padding-bottom: -0.5%;
}
.navigation{
  padding-bottom: 5%;
}
.body{
  width: 100%;
  height: auto;
}
.logInButton {
  float: right;
  margin-left: 2.5% ;
}
.registrationButtonButton {
  float: right;
}

.search {
  display:flex;
  flex-direction:column;
}

.main {
  padding-bottom: 25%;
  //margin-bottom: 3%;
  margin-top: -5%;
  padding-top: 7%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("bokeh.jpg");
}

.InputBtn {
  width: 120% ;
}

.searchfield{
  width: 22%;
  margin: auto;

}
.left, .right {
  display: inline-block;
}
.left {
  float: left;
  padding-left: 25%;
  padding-bottom: 5%;

}
.right {
  float: right;
  padding-right: 25%;
  padding-bottom: 5%;

}
