<header id = "header">
<div class="navigation">



  <!-- When logged in -- @TODO authentication.loggedIn and authentication.isUser method in authentication service  -->

 <div class = "top">
    <button class = "navigation"[routerLink] = "['/profile']" *ngIf="authentication.loggedIn && authentication.isUser">
      Profile
    </button>
  </div>

  <!-- main navigation bar -->

   <div class = "main">
       <mat-card class = "searchfield">
           <mat-card-content>
               <mat-list>

 <!-- @TODO add routerLink -->
    <!--Location Button-->
  <mat-list-item>
   <form class = "btn" style="float: left;margin-left: 2%">
    <mat-form-field >
      <mat-label> All Locations </mat-label>
        <mat-select id = "location" [(ngModel)] = "l" name="location" >
          <mat-option> None </mat-option>
          <mat-option *ngFor = "let locations of locations " [value]  = "locations"> {{locations}} </mat-option>
        </mat-select>
    </mat-form-field>
    </form>
  </mat-list-item>
    <!-- Events Button-->
  <mat-list-item>
   <form class ="btn" style="float: left; margin-left: 2%; margin-bottom: 1%; ">
    <mat-form-field>
      <mat-label> All Services </mat-label>
      <mat-select id = "services" [(ngModel)]="s" name="services" >
        <mat-option> None </mat-option>
        <mat-option *ngFor = "let services of services" [value] = "services"> {{services}}</mat-option>
      </mat-select>
    </mat-form-field>
     </form>
  </mat-list-item>
                   <!-- Date Picker -->
  <mat-list-item>
    <form class = "btn" style = "float: left; margin-left: 2%; margin-right: 5%;">
     <mat-form-field>
       <input [(ngModel)]="d" name = "dates" matInput [matDatepicker]="picker" placeholder="Choose a Date" >
       <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
       <mat-datepicker #picker ></mat-datepicker>

     </mat-form-field>
     </form>
  </mat-list-item>
                   <!-- Search Button -->
 <mat-list-item>
   <form class = "btn" style="float: left; margin-left: 2%; margin-right: 5%;">
     <mat-form-field class = "InputBtn">
      <input [(ngModel)] = "anything" name = "anything" matInput placeholder="Search for anything" >
     </mat-form-field>
    </form>
 </mat-list-item>
                   <br>
  <mat-list-item>
    <button class = "btn" mat-stroked-button style="float:right; margin-right: 10%; margin-top: -0.5%" (click) = onSubmit()>Search</button>
  </mat-list-item>

               </mat-list>
           </mat-card-content>
       </mat-card>
  </div> <!--/main -->

</div>
</header>




