
<mat-card>
  <mat-card-title>List of Open Booking Requests</mat-card-title>
  <mat-card-content>
    <br>
    <table mdbTable>
      <thead>
      <tr>
        <th>Title</th>
        <th>Service Type</th>
        <th>Description</th>
      </tr>
      </thead>
      <!-- lists all unverified users that are being fetched from backend-->
      <tbody>
      <tr mdbTableCol *ngFor="let request of Requests">
        <td>{{request.serviceTitle}}</td>
        <td>{{request.serviceType}}</td>
        <td>{{request.description}}</td>
        <td><button mat-button style="color: #0ec254" (click)="acceptBooking(request)">Accept</button></td>
        <td><button mat-button style="color: #d33939" (click)="deleteUser(user)" >Deny</button></td>
      </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>


