<h1 class = "title" style = "text-transform: capitalize; font-family: 'Avenir Next'; text-align: center; font-weight: bolder">Frequently asked questions</h1>

<div class ="column1">
  <div class = "question">
  <h3> Wie nehme ich Kontakt mit Service-Providern auf? </h3>
  </div>
  <div class = "answer">
    <p style = "color: black; font-family: 'Avenir Next';">
      Über den "Buchen" Button können Sie direkt eine Anfrage schicken. Der Service Provider wird sich dann bei Ihnen melden.</p>
  </div>
</div>

<div class ="column1">
  <div class = "question">
    <h3> Was passiert mit meinen Daten? </h3>
  </div>
  <div class = "answer">
    <p style = "color: black; font-family: 'Avenir Next';">
      Ihre Daten werden nur dafür verwendet, die Buchungen und Anfragen an Sie weiterzuleiten. Wir werden diese für nichts anderes verwenden.</p>
  </div>
</div>

<div class ="column1">
  <div class = "question">
    <h3> Ich kann mich nicht mehr einloggen. Was tun? </h3>
  </div>
  <div class = "answer">
    <p style = "color: black; font-family: 'Avenir Next';">
      Sie können auf "Passwort vergessen" klicken und dort das Passwort zurücksetzen. Wenn das nicht geht, schreiben Sie uns eine Mail an: <u>annina.helmy@students.unibe.ch</u></p>
  </div>
</div>

<div class ="column1">
  <div class = "question">
    <h3> Mir ist etwas dazwischen gekommen. Wo kann ich meine Buchung stornieren? </h3>
  </div>
  <div class = "answer">
    <p style = "color: black; font-family: 'Avenir Next';">
      Da unsere Website eine 1:1 Kommunikation zwischen Service Provider und Customer herstellt, müssen Sie sich direkt beim Service Provider melden.
    Wenn Sie damit Probleme haben, schreiben Sie uns eine Mail und wir kümmern uns drum: <u>annina.helmy@students.unibe.ch</u></p>
  </div>
</div>
