
<h1 align = "center " style = "margin-top: -2%">Mache jeden Augenblick zu etwas Besonderem!</h1>
<br>
<br>

  <div class = "row">
    <div class = "column1">
        <img class = "image" src = "../../assets/home/foodanddrink.png" alt = "plates and wineglasses" style ="width:100%">
      <button class = "btn" routerLink ="/foodanddrink" routerLinkActive="active" > Food & Drink </button>
    </div>
    <div class ="column1">
      <img class = "image" src = "../../assets/home/lightbulb.png" alt = "lightbulb" style ="width:100%">
      <button class = "btn" routerLink = "/lightandstage" routerLinkActive="active"> Licht und Bühne </button>
    </div>
    <div class = "column1">
      <img class = "image" src = "../../assets/home/advert.png" alt = "business card" style ="width:100%">
      <button class = "btn" routerLink = "/advertisement" routerLinkActive="active"> Werbung </button>
    </div>
    <div class = "column1">
      <img class = "image" src = "../../assets/home/music.png" alt = "drums" style ="width:100%">
      <button class = "btn" routerLink = "/music" routerLinkActive="active"> Musik </button>
    </div>
  </div>
<div class = "anmelden" *ngIf= "!loggedIn">
<h1 align = "center" style = "margin-top: 5%; ">Bieten Sie einen Service an?</h1>
<p style = "padding-bottom : 3%"align = "center"> Das geht ganz einfach mit uns! Registrieren, Service hinzufügen und auf eine Buchung warten!</p>

<div class =  "wrapper">
<button class = "button" routerLink = "/Registration" routerLinkActive="active"> Hier anmelden! </button>
</div>
</div>
<!-- make slideshow -->
<!--
<div class = "slideshowcontainer" *ngIf = "images">
  <div class = "slideshow-container">
    <img *ngFor="let images of images; let i = index" style = "width: 50%"
    [src] = "images"
    [ngClass]="{'image-active': selectedIndex==i}" >
    <div class = "text">Caption</div>

    <div style="text-align:center; display:inline-block;"  *ngFor="let number of images; let i=index">
            <span class="dot"
                  (click)="selectImage(i)"
                  [ngClass]="{'active': selectedIndex == i}">
            </span>
    </div>
  </div>
</div>
-->

