#title {
  align: left;
}
.column1 {
  display: inline-block;
  padding: 2%;
  width: 25%;
  height: 400px;
  overflow: hidden;
  padding-bottom: 7%;
}
.row {
  text-align: center;
}
.review {
  display: block;
  width: 65%;
  margin: auto;
  overflow: hidden;
  padding-top: 10%;
}
